body{
background-color: rgb(87, 220, 238);
font: normal 15pt Courier, monospace;
}
header{
    text-align: center;
    color: white;
    
}
section{
 background-color: white;
 border-radius: 15px;
 line-height: 300px;
 padding: 15px;
 width: 500px;
 margin: auto;
 text-align: center;
 box-shadow: 5px 5px 10px rgb(29, 28, 28);
 font: normal 18pt Arial;
}
img{
     padding: 8px;
}

footer{
    

    font: normal 15pt American Typewriter, serif;
    color: white;
    text-align: center;
   

}
